# Maven
target/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project

# jenv
.java-version

# custom
.settings
out
.DS_Store
report*
**/pom.xml.versionsBackup
db-data/
cache-data/
.factorypath
application-local.properties
.vscode/